build/
compile_commands.json
.cache/

vcpkg/
vcpkg_installed/
vcpkg*.log

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
